<div class="new-pf-section values">

  <a href="#"><h2>5. Values for <span class="child-name">Child</span></h2></a>

  <div class="new-pf-container new-values-container hidden">

    <div class="values-wrapper container row">
      <div class="col span_12">
        <% @values.each do |value| %>
          <div class="value-btn" data-value-id="<%= value.id %>"><%= value.name %></div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="new-pf-section submit">
  <div class="submit-all hidden"><a href="#">Submit Profile and See Matches!</a></div>
  <div class="new-pf-container"></div>
</div>
