      <div class="status-box row">
        <div class="date-status-header">
          <p>DATE STATUS</p>
        </div>
        <div class="col span_6">
          <div class="date-status-parent-name">
            <% if playdate.initiator.parent.id == current_user.id %>
              <span>You</span>
            <% else %>
              <span><%= playdate.initiator.parent.first_name %></span>
            <% end %>
          </div>
          <div class="date-status-table">
            <div class="date-status-row">
              <i class="fa fa-check-circle"></i>
              <p>Initiated</p>
            </div>
            <div class="date-status-row">
              <% if playdate.initiator_confirmed %>
                <i class="fa fa-check-circle"></i>
              <% else %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <p>Confirmed</p>
            </div>
            <div class="date-status-row">
              <% if playdate.initiator_paid %>
                <i class="fa fa-check-circle"></i>
              <% else %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <p>Paid</p>
            </div>
          </div>
        </div>

        <div class="col span_6">
          <div class="date-status-parent-name">
            <% if playdate.recipient.parent.id == current_user.id %>
              <span>You</span>
            <% else %>
              <span><%= playdate.recipient.parent.first_name %></span>
            <% end %>
          </div>
          <div class="date-status-table">
            <div class="date-status-row">
              <% if playdate.recipient_accepted %>
                <i class="fa fa-check-circle"></i>
              <% else %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <p>Accepted</p>
            </div>
            <div class="date-status-row">
              <% if playdate.recipient_confirmed %>
                <i class="fa fa-check-circle"></i>
              <% else %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <p>Confirmed</p>
            </div>
            <div class="date-status-row">
              <% if playdate.recipient_paid %>
                <i class="fa fa-check-circle"></i>
              <% else %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <p>Paid</p>
            </div>
          </div>
        </div>

      </div>
