<script type="x-handlebars-template" class="date-movie-card-template">
<div class="date-movie-card row">
  <div class="movie-image col span_5">
    <figure class="">
      <img src="{{movie.image}}" />
      <figcaption>
      </figcaption>
    </figure>
  </div>
  <div class="movie-details col span_7">
    {{#ifCond deleteButton true}}
      <a href="/dates/{{playdate.id}}" data-movie-id="{{movie.id}}" class="selected-movie-delete-btn"><i class="close-icon fa fa-times"></i></a>
    {{/ifCond}}

    <div class="movie-detail-item">
      <i class="fa fa-film"></i>
      <p><strong>{{movie.title}}</strong></p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-calendar"></i>
      <p>{{formattedMovieDate}}</p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-street-view"></i>
      <p>{{movie.address}}</p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-user"></i>
      <p><em>Director:</em> {{movie.director}}</p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-info-circle"></i>
      <p><em>Description:</em> {{movieDescriptionClipped}}</p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-star"></i>
      <p>{{movieRatingFormatted}}</p>
    </div>
    <div class="movie-detail-item">
      <i class="fa fa-money"></i>
      <p>${{movie.price_per_person}} / person</p>
    </div>
  </div>
</div>
</script>
