
<div class="playdate-container debug">
  <div class = "status row">
    <div class="col span_12">
      <h1> Status: Pending//Declined//Confirmed</h1>
    </div>
  </div>

  <div class=" col date-data span_8 debug">
    <div class="movie row debug">
      <h3> Budget:</h3>
      <h3> Date/Time:</h3>
    </div>

    <div class="movie row debug">
      <h2> Plan the Date: </h2>
      <h3> Movies </h3>
        <div id="gallery-wrap" class="pf-images-wrapper slick-carousel col">
          <% @names_and_ids.each do |movie| %>
            <img alt = "<%= movie.first %>" src="<%= movie.last[:movie_poster]%>">
          <% end %>
        </div>

    </div>

    <div class="restaurant row debug">
      <h2> Restaurants: </h2>
    </div>

    <div class="calendar row debug">
      <h2> Calendar: </h2>
    </div>

  </div>

  <div class=" chat-data col span_4 debug">
    Chat stuff
  </div>

</div>


