<div class="playdate-container container">
  <div class = "status row">

    <div class="page-title-wrapper">
      <h1>Design <%= current_user.my_child(@playdate).first_name %>'s' Date!</h1>
    </div>

    <div class="col span_8">

      <div class="date-design-section selected-experience-container row">
        <div class="date-design-section-header">
          <h2>Selected Date Experience</h2>
        </div>

        <div class="date-design-section-body">
          <div class="date-experience-card">
            <h3> Budget:</h3>
            <h3> Date/Time:</h3>
          </div>
        </div>
      </div>

      <div class="date-design-section food-and-drink-container row">
        <div class="date-design-section-header">
          <h2>Food & Drink</h2>
        </div>

        <div class="date-design-section-body">
          <% Experience.upcoming_experiences.each do |experience| %>
            <%= render partial: "experience_card", locals: {experience: experience} %>
          <% end %>
        </div>
      </div>

      <%= render 'movie_row' %>

      <div class="restaurant row">
        <h2> Restaurants: </h2>
      </div>
      <div class="calendar row">
        <h2> Calendar: </h2>
      </div>

    </div>

      <div class=" chat-data col span_4">
        <%= render partial: 'chat' %>
      </div>
    </div>
  </div>


</div>


