
<div class="playdate-container">
  <div class = "status row">
    <div class="col span_12">
      <h1> Status: Pending//Declined//Confirmed</h1>
    </div>
  </div>

  <div class=" col date-data span_8">
    <div class="date-data row">
      <h3> Budget:</h3>
      <h3> Date/Time:</h3>
    </div>

    <%= render 'movie_row' %>

    <div class="restaurant row">
      <h2> Restaurants: </h2>
    </div>
    <div class="calendar row">
      <h2> Calendar: </h2>
    </div>

  </div>

  <div class=" chat-data col span_4">
    Chat stuff
  </div>


</div>


