<div class="child-snapshot-card">
  <div class="dashboard-section-header">
    <h3><%= child.first_name %></h3>
  </div>
  <img src="<%= child.pf_image_1 %>" />
  <div class="child-edit-profile">
    <a href="#">View Profile</a><br />
    <a href="#">Edit Profile</a><br />
  </div>
</div>
