<div class="date-preview row">
  <div class="your-child-photo col span_3">
    <img src"<%= user.my_child(date).pf_image_1 %>" />
  </div>
  <div class="date-details col span_6">
    TEXT
  </div>
  <div class="other-child-photo col span_3">
    <img src"<%= user.other_child(date).pf_image_1 %>" />
  </div>
</div>
