  <div class="all-child-profiles row">
    <% current_user.children.each do |child| %>
      <div class="child-pf-image">
      	<a href="/" data-profile-id="<%= child.id %>"><img src="<%= child.default_pf %>"></a>
      <div class="child-pf-name"><%= child.first_name %></div>
      </div>
    <% end %>
  </div>