<div class="filterby-interest">

  Interests:
  <div class="autocomplete-container"></div>

  <input type="text" data-append-to=".adp-interest" data-autocomplete="filters/autocomplete/interests">
  <div class="autocomplete-dropdown adp-interest"></div>

</div>

<div class="filterby-value">

  Values:
  <div class="autocomplete-container"></div>

  <input type="text" data-append-to=".adp-value" data-autocomplete="filters/autocomplete/values">
  <div class="autocomplete-dropdown adp-value"></div>

</div>

<script type="x-handlebars-template" class="autocomplete-template">
	<div class="autocomplete interest-btn" data-id="{{id}}">{{value}} <a href="#" class="autocomplete-tag">X</a></div>
</script>