  <nav class = "navbar">
    <div class = "logo col">BHTM</div>
    <div class = "navbar-link-wrapper">
      <div class = "nav-link-btn login-btn">
        <%= link_to "Log In", "users/sign_in", method: '' %>Login
      </div>
      <div class = "nav-link-btn signup-btn">Signup</div>
    </div>
  </nav>
