  <nav class = "navbar">
    <div class = "logo col">BHTM</div>
    <div class = "navbar-link-wrapper">
      <%= link_to "Log Out", "users/sign_out", method: 'delete',class:"logout-button" %>
    </div>
  </nav>
