  <nav class = "navbar">
    <div class = "logo col">BHTM</div>
    <div class = "navbar-link-wrapper">
      <div class = "nav-link-btn login-btn">Log In</div>
      <div class = "nav-link-btn signup-btn">Sign Up</div>
    </div>
  </nav>
