<script id="child-profile-template" type="x-handlebars-template">
  <div class="gallery-wrap">
    // image scroll here
  </div>
  {{profile.first_name}}
  {{profile.last_name}}
  {{profile.city}}
  {{profile.state}}
  {{profile.gender}}
  {{profile.sexual_preference}}
  {{profile.religion}}
  {{profile.smoke}}
  {{profile.birthdate}}
  {{profile.bio}}
  {{profile.embarrassing_moment}}
  {{profile.linkedin_url}}
  {{profile.facebook_url}}

</script>
