<div class="filter-wrapper col span_2">
  <br>
  <p> Filters</p>
  Gender:
  <select name="gender" class="filterby">
  <option value=""></option>
  <option value="male">Male</option>
  <option value="female">Female</option>
  </select>
  <br>
  Religion:
  <select name="religion" class="filterby">
  <option value=""></option>
  <option value="Christian">Christian</option>
  <option value="Muslim">Muslim</option>
  <option value="Jewish">Jewish</option>
  <option value="Hindu">Hindu</option>
  <option value="Buddhist">Buddhist</option>
  </select>
  <br>
  Smoke:
  <select name="smoke" class="filterby">
  <option value=""></option>
  <option value="true">Yes</option>
  <option value="false">No</option>
  </select>
</div>
<div class="matches col span_8">
  <table>
    <tbody>
    <% Child.all.each do |child| %>
    <tr id="<%= child.id %>">
      <td><img class="prof-img" src="<%=child.pf_image_1%>"></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
