/*Filter page*/
.filter-page-container{
  background-image: url("green_texture.png");
  height:100%;
  width:100%;
}
.filter-wrapper{
  height:100%;
/*  width:19em;
*/  background-color: rgba(256,256,256,0.3);
  border-right:1px solid #3FB8AF;
  text-align: center;
}



.dropdowns-wrapper{
  width: 17em;
  margin: auto;
}
.single-drpdwn-wrapper{
  display:flex;
  justify-content: space-between;
}

.filter-wrapper select{
  width:9em;
  text-align: left;
}

.prof-img{
  height:100px;
  width:100px;

   -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
           transition: all 1s ease;
 }
 
.prof-img:hover{
   height:125px;
   width:125px;
}

.matches{
  background-image: url('green_texture.png')
}
.matches .individual-child{
  height:100px;
  width:100px;
  overflow: hidden;
  display: inline-block;
}


.age-slider{
  margin:2em auto;
  width: 13em;
}



/*Children profiles*/
.all-child-profiles {
  float: left;
  width: 100%;
  text-align: center;
}
.child-pf-image {
  display: inline-block;
}

.child-pf-image-sub {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid white;
}

.child-pf-image-sub img {
  height: 80px;
  width: auto;
}

.filters-title{
  font-size: 1.2em;
}

.child-name{
  font-size: 1em;
}

.pf-image-selected{
  border:2px solid rgb(0, 77, 255);
}
.desaturate{
  filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}

.age-slider-container{

}
.age-slider-container input{
  display:inline-block;
  margin-top: 1em;
  width:4em;
  border:none;
  border-radius: 5px;
}

.autocomplete-dropdown {
	position: absolute;
	background-color: gray;
}

.autocomplete-dropdown li {
	list-style-type: none;
}