.playdate-container.container{
  max-width: 1024px;
}

/*************** DATE STATUS *****************/
.status-box-wrapper{
  border: 1px solid lightgray;
  margin: 1em 0 1em 0;
}

.status-box{
  padding: 0.5em;
  font-size: 0.8em;
}

.date-status-header p{
  margin: 0 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid lightgray;
}

.date-status-table{
  display: table;
}

.date-status-parent-name{
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin: 0 0.5em;
  font-size: 1.1em;
}

.date-status-row{
  display: table-row;
}

.date-status-row i, .date-status-row p{
  display: table-cell;
  padding: 0.2em 0 0.2em 0.8em;
}


/*************** SELECTED DATE EXPERIENCE *****************/
.design-date-notification{
  text-align: center;
  color: #888;
  font-style: italic;
}

.accept-confirm-pay-wrapper{
  text-align: center;
}

.accept-confirm-pay-btn{
  border: 1px solid darkgray;
  padding: 1% 15%;
  color: #1ab595;
  font-size: 1.2em;
  width: 80%;
}

.accept-confirm-pay-btn:hover, .pay-btn-wrapper:hover, .btn-selected{
  color: #fff;
  border: 2px solid #ff6953;
  background-color: #1ab595;
}

.accept-confirm-pay-btn span{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pay-btn-wrapper{
  border: 1px solid darkgray;
  padding: 0.8em 0;
  color: #1ab595;
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
}

.pay-btn-wrapper span{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.stripe-btn{
  margin: 0 auto;
}

.disabled-button{
  border: 1px solid darkgray;
  padding: 0.8em 0;
  color: #1ab595;
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
}

/*************** EXPERIENCES (FOOD & DRINK) *****************/
.date-design-section{
  margin-right: 1em;
}

.date-experience-card{
  background-image: url('/images/backgrounds/bg-paper.png');
  margin-bottom: 1em;
  border: 1px solid lightgray;
}

.experience-image figure{
  /*width: 100%;*/
  height: 20em;
  overflow: hidden;
  margin: 1em;
  position: relative;
  text-align: center;
  color: white;
}

.experience-image img{
  height: 100%;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.experience-details{
  padding: 1em;
  text-align: left;
  position: relative;
}
.exp-detail-item{
  display: table;
  padding-bottom: 0.7em;
}

.exp-detail-item i{
  display: table-cell;
  padding-right: 1em;
}

.exp-detail-item p{
  display: table-cell;
}

.select-experience-btn{
  margin: 1.5em 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.select-experience-btn a{
  border: 2px solid darkgray;
  padding: 4px 8px;
  border-radius: 6px;
  color: #1ab595;
  font-size: 1.1em;
}

.select-experience-btn a:hover{
  color: #fff;
  border: 2px solid #ff6953;
  background-color: #1ab595;
}

.close-icon{
  color: #777;
  position: absolute;
  top: 1%;
  right: 1%;
}

.close-icon:hover{
  color: #aaa;
  position: absolute;
  top: 1%;
  right: 1%;
}

/*************** MOVIE CARD *****************/

.date-movie-card{
  background-image: url('/images/backgrounds/bg-paper.png');
  margin-bottom: 1em;
  border: 1px solid lightgray;
}

.movie-image figure{
  /*width: 100%;*/
  height: 20em;
  overflow: hidden;
  margin: 1em;
  position: relative;
  text-align: center;
  color: white;
}

.movie-image img{
  height: 100%;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.movie-details{
  padding: 1em;
  text-align: left;
  position: relative;
}
.movie-detail-item{
  display: table;
  padding-bottom: 0.7em;
}

.movie-detail-item i{
  display: table-cell;
  padding-right: 1em;
}

.movie-detail-item p{
  display: table-cell;
}

.select-movie-btn{
  margin: 1.5em 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.select-movie-btn a{
  border: 2px solid darkgray;
  padding: 4px 8px;
  border-radius: 6px;
  color: #1ab595;
  font-size: 1.1em;
}

.select-movie-btn a:hover{
  color: #fff;
  border: 2px solid #ff6953;
  background-color: #1ab595;
}

/*************** MOVIE CAROUSEL *****************/

.movie-poster{
  height:293px;
  width:199px;
}
.mv-box-back ul>li{
  font-size: .7em;
}
div.slick-list.draggable{
  height: 316px;
}

.mv-synopsis{
  font-size: .7em;
}
.add-to-package{
  border: 1px solid gray;
  background-color: #E2E2E2;
  border-radius: 3px;
  margin: 0 auto;
  width: 8em;
  font-size: .8em;
  padding: .2em;
}
.add-to-package:hover{
  background-color: gray;
  color: white;
}
/***************** FLIP ANIMATION *****************/
#movie-wrap{
  position: relative;
  perspective: 800px;
}

.movie-flip{
  /*width: 100%;*/
  height:225px;
  width:153px;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 1s;

}

.movie-flip .mv-box-front, .movie-flip .mv-box-back{
  display: block;
  position: absolute;
  /*height: 100%;*/
  backface-visibility: hidden;
}
.mv-box-back{
  background-image: url('/images/backgrounds/gray_texture.png');
  border:1px solid gray;
  overflow-y: scroll;
}
.mv-box-back h3{
  text-align: center;
}

.movie-flip .mv-box-back{
  transform: rotateY(180deg);
}

.movie-flip.flipped {
  transform: rotateY(180deg);
}


/***************** HOVER ANIMATION FOR EXPERIENCE IMAGES *****************/
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #9e5406;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.7;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-bubba h3 {
  padding: 30% 2em 0 2em;
  text-transform: uppercase;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

