.movie-poster{
  height:450px;
  width:306px;
}

.playdate-container .row{
  border:1px solid lightgray;
}


div.slick-list.draggable{
  height:450px; /*carousel height*/
}

.mv-synopsis{
  font-size: .7em;
}
.add-to-package{
  border: 1px solid gray;
  background-color: #E2E2E2;
  border-radius: 3px;
  margin-left: 5em;

}
/***************** FLIP ANIMATION *****************/
#movie-wrap{
  position: relative;
  perspective: 800px;
}

.movie-flip{
  /*width: 100%;*/
  height:225px;
  width:153px;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 1s;

}

.movie-flip .mv-box-front, .movie-flip .mv-box-back{
  display: block;
  position: absolute;
  /*height: 100%;*/
  backface-visibility: hidden;
}
.mv-box-back{
  background-image: url(gray_texture.png);
  border:1px solid gray;
}

.movie-flip .mv-box-back{
  transform: rotateY(180deg);
}

.movie-flip.flipped {
  transform: rotateY(180deg);
}


/***************** HOVER ANIMATION FOR EXPERIENCE IMAGES *****************/
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #9e5406;
}

figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-bubba h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

