/*STYLING FOR BASIC INFO CONTAINER*/
.pf-basic-info-wrapper{
  background-image: url('/images/backgrounds/bg-blizzard.png');
  margin: 0.5em;
  border: 1px lightgray solid;
  border-radius: 8px;
  font-family: 'Vollkorn', serif;
}

.pf-basic-info-wrapper h1{
  border-bottom: 1px solid #1ab595;
  margin: 0.4em 0.45em 0.3em 0.45em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2em;
}

.pf-basic-info-row{
  text-align: left;
  text-indent: 1em;
}

.pf-basic-info-cell{
  margin: 0 0 0.5em 0;
}

.category-icon{
  color: gray;
}

.category-icon::after{
  content: "\00a0\00a0";
}

/*STYLING FOR 'PROPOSE A DATE' BUTTON*/
.pf-set-date-wrapper{
  margin: 2em 0.5em;
  font-family: 'Questrial', sans-serif;
}

.pf-set-date a{
  border: 2px solid darkgray;
  padding: 5px 13px;
  border-radius: 6px;
  color: #1ab595;
  font-size: 1.5em;
}

.pf-set-date a:hover{
  color: #fff;
  border: 2px solid #ff6953;
  background-color: #1ab595;
}

/*GENERAL PROFILE DETAIL MODAL STYLING*/
.pf-modal-container {
  background-image: url('/images/backgrounds/bg-paper.png');
  height: auto;
  width: 100em;
  text-align: center;
  padding: 1em;
}

.pf-modal-container h2{
  font-family: 'Arvo', serif;
  margin: 0.5em;
  padding: 0.2em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.pf-modal-container h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

/*STYLING FOR 'GOOD STUFF' BOXES*/
.pf-box {
  position: relative;
  color: #1ab595;
  height: 200px;
  margin: 0;
  /*background-color: #1ab595;*/
  /*background-image: url('/images/backgrounds/bg-grey_wash_wall.png');*/
}

.pf-box p{
  font-size: 0.9em;
  text-align: right;
  color: #d7dadb;
}

.pf-box-back{
  background-color: #1ab595;
  border-radius: 10px;
  color: #D7DADB;
}

/***************** FLIP ANIMATION *****************/
.pf-box-wrapper{
  position: relative;
  perspective: 800px;
}

.flip-wrapper{
  /*width: 100%;*/
  height: 100%;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 0 0.5em;
  border: 1px solid gray;
  border-radius: 10px;
}

.flip-wrapper .pf-box-front, .flip-wrapper .pf-box-back{
  display: block;
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  backface-visibility: hidden;
}

.flip-wrapper .pf-box-back{
  transform: rotateY(180deg);
}

.flip-wrapper.flipped {
  transform: rotateY(180deg);
}


/*STYLING FOR PHOTO CAROUSEL*/
.slick-carousel img{
  height: auto;
  /*max-width: 200px;*/
}

.slick-carousel{
  width: 300px;
}

/*STYLING FOR PAGE TO CREATE A CHILD PROFILE*/
.new-pf-form-container {
  width: 100%;
  text-align: center;
  background-color: rgb(248, 248, 248);
  color: gray;
  padding: 2em 0;
}

.new-pf-section a {
  color: black;
  text-decoration: none;
}

.new-pf-section a:hover {
  color: #2C3E50;
}

.new-child-pf-title{
  font-weight: bold;
  font-size: 2em;
  color:gray;
}

.new-pf-section h2 {
  display: block;
    background: -webkit-linear-gradient(90deg, #f857a6 10%, #ff5858 90%);
  background:    -moz-linear-gradient(90deg, #f857a6 10%, #ff5858 90%);
  background:     -ms-linear-gradient(90deg, #f857a6 10%, #ff5858 90%);
  background:      -o-linear-gradient(90deg, #f857a6 10%, #ff5858 90%);
  background:         linear-gradient(90deg, #f857a6 10%, #ff5858 90%);
  color: white;
}

.continue-wrapper {
  border: 1px solid lightgray;
  width: 5em;
  background-color: transparent;
  margin-top: .5em;
  border-radius: 3px;
  /* color: white; */
}

.continue-wrapper:hover{
  background-color:white;
}

.continue-wrapper a:hover{
  color:lightgray;
}
.pf-img-submit-btn{
  border: 1px solid lightgray;
  width: 5em;
  background-color: transparent;
  margin-top: .5em;
  border-radius: 3px;
}

.continue-wrapper a{
  color:gray;
}
.pf-form-gender{
    width: 6em;
    /* display: flex; */
    text-align: right;
    /* justify-content: space-between; */
}

.pf-form-interested-in{
  width: 9em;
  /* border: 1px solid red; */
  /* display: flex; */
  text-align: right;
  /* justify-content: space-between; */
}
.gender-interestedin-wrapper{
  display: flex;
  justify-content: space-between;
  width: 37em;
}
.gender-wrapper{
  /* border: 1px solid white; */
  width: 12em;
  /* margin-left: -1em; */

}
.interested-in-wrapper{
   margin-left: 7em;
  /* padding-left: 4em; */
}
.interested-in-wrapper label{
  margin-left: 5em;
}
.radio-btn-wrapper{
  border:1px solid red;
}
.contine {
  border: 1px solid black;
}

.profile-error-messages {
  padding-left: 0;
}

.profile-error-messages li {
  display: block;
}

.upload-preview {
  max-width:80%;
  height: auto;
  border-radius: 8px;
}

.interest-btn, .value-btn{
  display: inline-block;
  border: 1px rgb(180, 180, 180) solid;
  padding: 2px 4px;
  margin: 5px 0px 0px 0px;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #B8DAF2;
}

.interest-btn-selected, .value-btn-selected{
	color: #FFFFFF;
  background-color: #72C4FF;
}

.new-pf-section .submit-all a {
  padding: 15px;
  color: #FFFFFF;
  background-color: #1AB595;
  display: inline-block;
}

/*STYLING FOR HOVER ANIMATION ON DETAILED PROFILE 'GOOD STUFF' BOXES*/
/*---------------*/
/***** Dexter *****/
/*---------------*/
figure.effect-dexter {
/*  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);*/
}

figure.effect-dexter {
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect-dexter:hover {
  background-color: #1ab595;
  color: #d7dadb;
  border-radius: 10px;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #ff6953;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  backface-visibility: hidden; /*ADDED TO WORK WITH FLIP ANIMATION*/
  transform-style: preserve-3d; /*ADDED TO WORK WITH FLIP ANIMATION*/
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 0.2em 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 50px;
  bottom: 17px;
  left: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
  backface-visibility: hidden; /*ADDED TO WORK WITH FLIP ANIMATION*/
  transform-style: preserve-3d; /*ADDED TO WORK WITH FLIP ANIMATION*/
}

figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  backface-visibility: hidden; /*ADDED TO WORK WITH FLIP ANIMATION*/
  transform-style: preserve-3d; /*ADDED TO WORK WITH FLIP ANIMATION*/
}
