/*DASHBOARD STYLING*/
.page-title-wrapper {
  font-family: 'Questrial', sans-serif;
  font-size: 1.2em;
  margin: 3em 0.8em 0 0.8em;
  color: #333333;
}

.dashboard-section-header{
  background-color: #4B6CB7;
  border: 1px solid #4B6CB7;
  color: white;
  margin-bottom: 1em;
}

.dashboard-section-header h2{
  margin: 0.5em 1em;
}

.dates-collection, .children-collection{
  margin: 0 0.8em 0.8em 0.8em;
  color: #333333;
}

.child-snapshot-card{
  background-image: url('/images/backgrounds/light-gray-texture.png');
  margin-bottom: 1em;
  border: 1px solid lightgray;
}

.child-snapshot-card img{
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.child-card-text{
  padding: 1em;
  text-align: center;
}

.child-card-text a{
  color: #F857A6;
  font-size: 0.8em;
}

.child-card-text h3{
  margin: 0 0 0.4em 0;
  color: #555555;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em;
}

.dates-rows-wrapper{
  background-image: url('/images/backgrounds/light-gray-texture.png');
  border: 1px solid lightgray;
}

.date-preview{
  margin: 0 1em;
  padding: 1em 0;
  border-bottom: 1px solid lightgray;
}

.date-preview img{
  width: 100%;
  height: 100%;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 2px solid #4B6CB7;
}

.date-preview ul {
  font-size: 0.8em;
  list-style: none;
  padding: 0;
  line-height: 1.8em;
  margin: 0.2em;
}

.date-preview span{
  font-weight: 700;
}

.date-preview a:hover{
  color: #F857A6;
}

.add-child-btn{
  margin: 1.5em 0;
  text-align: center;
}

.add-child-btn a{
  border: 2px solid #4B6CB7;
  padding: 4px 8px;
  border-radius: 3px;
  color: #4B6CB7;
  font-size: 1em;
}

.add-child-btn a:hover {
  color: white;
  border: 2px solid #4B6CB7;
  background-color: #4B6CB7;
}