.navbar-link-wrapper{
  float:right;
  display: inline-block;
}


.bg-vid-wrapper {
  position: relative;
  top: -170px;
}

.bg-vid {
  width: 100%;
  background: no-repeat;
  background-size: cover;
}

.bg-vid-wrapper h1 {
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: block;
  color: white;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Lobster', cursive;
}

.bg-content{
  position: absolute;
  height: auto;
  width: 33em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.how-btn {
  text-align: center;
  position: relative;
  width: 175px;
  margin: auto;
  display: block;
  color: white;
  background: #F857A6;
  padding: .9em;
  height: 50px;
  border-radius:3px;
  z-index: 1;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.how-btn:hover {
  color:lightgray;
  background: #F857A6;

  color:white;

}

.welcome-description {
  position: relative;
  top: -175px;
  padding: 14em;
  /*background-color: #1AB595;*/
  background-image: url("/images/backgrounds/green_texture.png");
}

.how-step {
  text-align: center;
}
.how-step h4{
  color:rgb(247, 247, 247);
  font-size: 1.3em;
}
.circle-outer {
  position: relative;
  width: 190px;
  height: 190px;
  text-align: center;
  border:3px solid #81DDB3;
  background-image: url("/images/backgrounds/green_texture.png");
  -moz-border-radius: 95px;
  -webkit-border-radius: 95px;
  border-radius: 50%;
  margin:0 auto;
}

.circle-inner {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 140px;
  height: 140px;
  text-align: center;
  background-image: url("/images/backgrounds/green_texture.png");
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 75px;
}
.fa-5x{
  color:#81DDB3;
  margin-top: .2em;
}


.get-started-btn {
  text-align: center;
  position: relative;
  width: 150px;
  margin: 7em auto;
  display: block;
  color: white;
  background: #F857A6;
  border: 2px solid #1AB595;
  padding: .9em;
  border-radius: 4px;
  height: 50px;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.get-started-btn:hover {
  background: #F857A6;
  color:white;
}


.form-wrapper {
  padding: 2em;
  background: rgba(44,62,80,0.8);
  border-radius: 8px;
  color: #FFFFFF;
  width:19em;
}
.form-wrapper input{
  color:black;
  margin-bottom: 1em;


}

.form-wrapper form{
  margin-left:1.5em;
}
.form-wrapper .field {
  color: black;
}

.simplemodal-overlay {
  background: #000000;
}

.logout-button {
  text-decoration: none;
  padding:1px;
  border:1px solid white;
  border-radius:4px;
  color:white;
}
.logout-button:hover{
  color:navy;
}

.hidden{
  display: none;
}

.login-btn-nav, .signup-btn.nav{
  font-family: 'Raleway', sans-serif;
}


/*Login-external-form*/
.signup-container{
  background-color: yellow;
}

@media all and (max-width: 1216px){
  .fa-5x{
    font-size: 3em;
  }

  .how-step h4{
    font-size: 1em;
  }

  .circle-inner {
    top: 26px;
    left: 39px;
    width: 40px;
    height: 40px;
  }

  .circle-outer {
    width: 130px;
    height: 130px;

  }

}



@media all and (max-width: 965px){
  .fa-5x{
    font-size: 2em;
  }

  .how-step h4{
    font-size: 1em;
  }

  .circle-inner {
    top: 22px;
    left: 28px;
    width: 40px;
    height: 40px;
  }

  .circle-outer {
    width: 100px;
    height: 100px;

  }

}

@media all and (max-width: 849px){
  .fa-5x{
    font-size: 2em;
  }


  .circle-inner {
    top: 15px;
    left: 19px;
    width: 40px;
    height: 40px;
  }

  .circle-outer {
    width: 80px;
    height: 80px;

  }

}
@media all and (max-width: 767px){
  .fa-5x{
    font-size: 6em;
  }

  .how-step h4{
    font-size: 1.3em;
  }

  .circle-inner {
    top: 25px;
    left: 25px;
    width: 140px;
    height: 140px;
  }

  .circle-outer {
    width: 190px;
    height: 190px;

  }

}

