.interest-btn{
  display: inline-block;
  border: 1px gray solid;
  padding: 2px 4px;
  margin: 5px 0px 0px 0px;
  border-radius: 8px;
  background-color: lightgray;
}

.interest-btn-selected{
  background-color: red;
}

.navbar-link-wrapper{
  float:right;
  display: inline-block;
}

.bg-vid-wrapper {
  position: relative;
  top: -170px;
}

.bg-vid {
  width: 100%;
  background: no-repeat;
  background-size: cover;
}

.bg-vid-wrapper h1 {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: block;
  top: 7em;/* need another way to position*/
  color: white;
  z-index: 1;
}

.how-btn {
  text-align: center;
  position: relative;
  top: 30em;/* need another way to position*/
  width: 175px;
  margin: auto;
  display: block;
  color: white;
  background: rgba(255,105,83,0.55);
  border: 1px solid #FF6953;
  padding: .4em;
  height: 50px;
  z-index: 1;
}

.how-btn:hover {
  background: rgba(255,105,83,0.8);
}

.welcome-description {
  position: relative;
  top: -175px;
  padding: 10em;
  background-color: #FF6953;
}

.how-step {
  text-align: center;
}

.circle-outer {
  position: relative;
  width: 190px;
  height: 190px;
  text-align: center;
  background: #1AB595;
  -moz-border-radius: 95px;
  -webkit-border-radius: 95px;
  border-radius: 100px;
}

.circle-inner {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 140px;
  height: 140px;
  text-align: center;
  background: #FFFFFF;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 75px;
}

.get-started-btn {
  text-align: center;
  position: relative;
  width: 150px;
  margin: auto;
  display: block;
  color: white;
  background: rgba(26,181,149,0.7);
  border: 2px solid #1AB595;
  padding: .4em;
  height: 50px;
  z-index: 1;
}

.get-started-btn:hover {
  background: rgba(26,181,149,0.85);
}


.form-wrapper {
  padding: 2em;
  background: rgba(44,62,80,0.9);
  color: #FFFFFF;
}

.simplemodal-overlay {
  background: #000000;
}

.logout-button {
  text-decoration: none;
  padding:4px;
  border:1px solid white;
  border-radius:4px;
  color:white;
}

.hidden{
  display: none;
}

/*Filter page*/
.filter-wrapper{
  background-color: coral;
  height:1000px;
}
.filter-wrapper select{
  width:100px;
  text-align: left;
}

.prof-img{
  height:100px;
  width:100px;
}

.matches tr{
  display: inline-block;
}

