.navbar-link-wrapper{
  float:right;
  display: inline-block;
}


.bg-vid-wrapper {
  position: relative;
  top: -170px;
}

.bg-vid {
  width: 100%;
  background: no-repeat;
  background-size: cover;
}

.bg-vid-wrapper h1 {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: block;
  top: 7em;/* need another way to position*/
  color: white;
  z-index: 1;
}

.how-btn {
  text-align: center;
  position: relative;
  top: 30em;
  width: 175px;
  margin: auto;
  display: block;
  color: white;
  background: #B295ED;
  padding: .6em;
  height: 50px;
  border-radius:3px;
  z-index: 1;
}

.how-btn:hover {
  color:lightgray;
  background: rgba(26, 181, 149, 0.5);

  background: #9377d1;
  color:white;

}

.welcome-description {
  position: relative;
  top: -175px;
  padding: 14em;
  /*background-color: #1AB595;*/
  background-image: url("green_texture.png")
}

.how-step {
  text-align: center;
}
.how-step h4{
  color:rgb(247, 247, 247);
}
.circle-outer {
  position: relative;
  width: 190px;
  height: 190px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 95px;
  -webkit-border-radius: 95px;
  border-radius: 100px;
  margin:0 auto;
}

.circle-inner {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 140px;
  height: 140px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 75px;
}
.fa-5x{
  color:#81DDB3;
}

.get-started-btn {
  text-align: center;
  position: relative;
  width: 150px;
  margin: auto;
  display: block;
  color: white;
  background: #B295ED;
  border: 2px solid #1AB595;
  padding: .6em;
  border-radius: 4px;
  height: 50px;
  z-index: 1;
  border-radius: 3px;
}

.get-started-btn:hover {
  background: #9377d1;
  color:white;
}


.form-wrapper {
  padding: 2em;
  background: rgba(44,62,80,0.8);
  border-radius: 8px;
  color: #FFFFFF;
}
.form-wrapper input{
  color:black;
  margin-bottom: 1em;

}

.form-wrapper input {
  color: #000000;
}

.form-wrapper .field {
  color: black;
}

.simplemodal-overlay {
  background: #000000;
}

.logout-button {
  text-decoration: none;
  padding:4px;
  border:1px solid white;
  border-radius:4px;
  color:white;
}

/*Children profiles*/
.all-child-profiles {
  float: left;
  width: 100%;
  text-align: center;
}
.child-pf-image {
  display: inline-block;
}

.child-pf-image-sub {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}

.child-pf-image-sub img {
 height: 100px;
 width: auto;
}



/*Login-external-form*/
.signup-container{
  background-color: yellow;
}




/*Filter page*/
.filter-wrapper{
  background-color: coral;
  height:1000px;
}
.filter-wrapper select{
  width:100px;
  text-align: left;
}

.prof-img{
  height:100px;
  width:100px;
}

.matches .individual-child{
  display: inline-block;
}

