<nav class="navbar">
  <div class="logo"><a href="/">BHTM</a></div>
  <ul>
    <% if user_signed_in? %>
      <li><a href="/users/<%= current_user.id %>" >Dashboard</a></li>
    	<li><%= link_to "Log Out", "/users/sign_out", method: 'delete', class:"logout-button" %><li>
    <% elsif request.env['PATH_INFO'] == "/" %>
			<li><a href="#" class="login-btn">Log In</a></li>
			<li><a href="#" class="signup-btn">Sign Up</a></li>
		<% end %>
  </ul>
</nav>
