<div class="notification-dropdown dates-rows-wrapper">
  <% if current_user.pending_dates.any? %>
    Pending Date Requests
    <% current_user.pending_dates.each do |date| %>
      <%= render partial: 'users/date_preview_row', locals: {date: date, user: current_user} %>
    <% end %>
  <% end %>

  <% if current_user.accepted_dates.any? %>
    Planning Phase
    <% current_user.accepted_dates.each do |date| %>
      <%= render partial: 'users/date_preview_row', locals: {date: date, user: current_user} %>
    <% end %>
  <% end %>
</div>