<div class="notification-dropdown dates-rows-wrapper">
  <% if current_user.pending_dates.any? %>
    <div class="dashboard-section-header">
      Pending Date Requests
    </div>
    <% current_user.pending_dates.each do |date| %>
      <%= render partial: 'layouts/notification_date_preview', locals: {date: date, user: current_user} %>
    <% end %>
  <% end %>

  <% if current_user.accepted_dates.any? %>
    <div class="dashboard-section-header">
      Planning Phase
    </div>
    <% current_user.accepted_dates.each do |date| %>
      <%= render partial: 'layouts/notification_date_preview', locals: {date: date, user: current_user} %>
    <% end %>
  <% end %>

</div>